mixin nav-content()
  ul
    li: a(href="{{site.baseurl}}/") About

header
  .header-position
    h1 Tetronian
    h4 Coming Soon
    .fas.fa-car
    .fab.fa-facebook-f

    //- nav.site-nav
    //-   +nav-content()
